.map{
    height: 400px;
    margin-top: 1rem;
    border: 2px solid #000;
    filter: invert(100%) ;
}

@media screen and (max-width: 750px){
    .map{
        height: 350px;
    }
}

@media screen and (max-width: 500px){
    .map{
        height: 300px;
    }
}

@media screen and (max-width: 380px){
    .map{
        height: 280px;
    }
}